global
    log stdout format raw local0
    maxconn 1024

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend risingwave_frontend
    bind *:4566
    default_backend risingwave_frontend_backend

backend risingwave_frontend_backend
    balance roundrobin
    option tcp-check
    server frontend-node-0 frontend-node-0:4566 check inter 3s fall 3 rise 2
    server frontend-node-1 frontend-node-1:4566 check inter 3s fall 3 rise 2

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
